@import "tailwindcss";

@layer base {
  body {
    background-color: #000000;
    color: #e5e5e5;
  }

  hr {
    height: 1px;
    border: none;
    background-color: #252525;
  }
}


@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .pagination-wrap {
    @apply flex justify-center mt-10 mb-8;
  }

  .pagination {
    @apply flex items-center gap-2;
  }

  .page-numbers {
    @apply px-4 py-2 rounded bg-zinc-800 text-zinc-100 
           hover:bg-zinc-700 transition;
  }

  .page-numbers.current {
    @apply bg-blue-600 text-white font-semibold;
  }

  .page-numbers.dots {
    @apply bg-transparent text-zinc-400 cursor-default;
  }

  .page-numbers.next {
    @apply flex items-center gap-1;
  }
}
